* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font: 300 16px 'Roboto', sans-serif;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}